---
import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<ol
  class="relative border-s dark:border-cyan-400 border-cyan-600 lg:w-[800px] self-center"
>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-600 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >{i18n.SECTION.EXPERIENCE.DATE[1]}</time
    >
    <h3 class="text-lg font-semibold text-cyan-600 dark:text-cyan-400">
      {i18n.SECTION.EXPERIENCE.JOB_TITLE[1]}
    </h3>
    <ul class="text-base list-disc ml-4 text-pretty">
      {
        i18n.SECTION.EXPERIENCE.JOB_DESCRIPTION[1].map((description) => (
          <li>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
  </li>
  <li class="mb-10 ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-600 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >{i18n.SECTION.EXPERIENCE.DATE[2]}</time
    >
    <h3 class="text-lg font-semibold text-cyan-600 dark:text-cyan-400">
      {i18n.SECTION.EXPERIENCE.JOB_TITLE[2]}
    </h3>
    <ul class="text-base text-black list-disc ml-4 text-pretty dark:text-white">
      {
        i18n.SECTION.EXPERIENCE.JOB_DESCRIPTION[2].map((description) => (
          <li>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
  </li>
  <li class="ms-4">
    <div
      class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border border-cyan-600 dark:border-cyan-400 dark:bg-gray-100"
    >
    </div>
    <time
      class="mb-1 text-sm font-normal leading-none text-gray-800 dark:text-gray-300"
      >{i18n.SECTION.EXPERIENCE.DATE[3]}</time
    >
    <h3 class="text-lg font-semibold text-cyan-600 dark:text-cyan-400">
      {i18n.SECTION.EXPERIENCE.JOB_TITLE[3]}
    </h3>

    <ul class="text-base list-disc ml-4 text-pretty">
      {
        i18n.SECTION.EXPERIENCE.JOB_DESCRIPTION[3].map((description) => (
          <li>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
  </li>
</ol>
